/* Message buttons container */
.buttonContainer-KtQ8wc {
	margin-bottom: -2px !important;
}

/* Message emoji reaction button */
.reactionBtn-2na4rd,
/* Message menu button */
.button-3Jq0g9 {
	width: 1.5rem !important;
	height: 1.5rem !important;
	margin-right: 8px !important;
}

/* Message menu container */
.container-3cGP6G {
	min-width: 6.5rem !important;
}

/* Right-click menu container */
.contextMenu-HLZMGh {
	width: auto !important;
	min-width: 170px !important;
	max-width: 256px !important;
}

/* Message menu item */
.item-2J1YMK,
/* Right-click menu item */
.item-1Yvehc {
	font-size: 0.9375rem !important; /* 15px (to match the server menu) if the user's font scale is 16px. */
	text-align: left !important;
	justify-content: left !important;
	margin: 0px !important;
	padding: 10px 14px !important;
	width: 100% !important;
}
