/* Channel invite and settings button container */
[class*="children_"] {
	margin-top: 0 !important;
}
/* Channel invite and settings button icons */
[class*="actionIcon_"] {
	width: 20px !important;
	height: 20px !important;
}

/* Message emoji reactions container */
[class*="reactions_"] {
	margin-bottom: -0.25rem !important;
}
/* Message emoji reaction button */
[class*="reaction_"] {
	margin-bottom: 0 !important;
}
/* Message emoji reaction contents */
[class*="reactionInner_"] {
	/* 24px tall at default font size. */
	padding-top: 0.125rem !important;
	padding-bottom: 0.125rem !important;
}
/* Message add emoji reaction button */
[class*="reactionBtn_"] {
	/* 24px tall at default font size with below width/height. */
	padding: 0.125rem !important;
	margin: 0 0.125rem !important;
	/* Keep the button visible (and tappable) */
	visibility: visible !important;
}
/* Message add emoji reaction button and icon */
[class*="reactionBtn_"],
[class*="reactionBtn_"] [class*="icon_"] {
	width: 1.25rem !important;
	height: 1.25rem !important;
}
/* Message add emoji reaction icon without mouseover */
[class*="reactions_"]:not(:hover) [class*="reactionBtn_"] {
	visibility: visible !important;
	opacity: 0.4 !important;
}


/* Search box text field, placeholder */
[class*="search_"] .DraftEditor-root .public-DraftEditor-content,
[class*="search_"] .DraftEditor-root .public-DraftEditorPlaceholder-root {
	padding-top: 6px !important;
}
/* Search box text field container */
[class*="search_"] .DraftEditor-root .DraftEditor-editorContainer {
	height: 32px !important;
}
/* Search box text field container container */
[class*="search_"] .DraftEditor-root {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
/* Search box background (yet another container) */
[class*="search_"] [class*="searchBar_"] {
	height: 32px !important;
}
/* Search box icon */
[class*="search_"] [class*="searchBar_"] > [class*="icon_"] {
	margin-top: 4px !important;
}

/* Search results pane tabs */
[class*="searchHeaderTabList_"] [class*="item_"],
/* Inbox tabs */
[class*="recentMentionsPopout_"] [class*="tab_"] {
	/* 32px tall */
	height: auto !important;
	padding: 8px 12px !important;
	margin-right: 4px !important;
	margin-top: 0 !important;
}

/* Search result action button container */
[class*="buttonsContainer_"],
/* Pinned post action button container */
[class*="actionButtons_"],
/* Inbox mentions “Jump” button positioning class */
[class*="jumpMessageButton_"] {
	right: 4px !important;
	top: 4px !important;
}
/* Inbox unreads “Jump” button (not meant for positioning, but I am using it for this) */
[data-list-item-id*="unreads_"] [class*="jumpButton_"] {
	right: -12px !important;
	top: -12px !important;
}


/* Search result “Jump” button */
[class*="searchResultGroup_"] [class*="button_"],
/* Pinned post “Jump” button & Inbox “Jump” button */
[class*="jumpButton_"] {
	/* 32px tall. */
	height: auto !important;
	font-size: 14px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding: 8px 12px !important;
}
[class*="jumpButton_"] [class*="text-xs"] {
	/* Override inbox “Jump” button being 12px font. */
	font-size: 14px !important;
}

/* Pinned post unpin button */
[class*="actionButtons_"] [class*="button_"][class*="lookBlank_"] {
	padding-left: 4px !important;
	padding-right: 4px !important;
}
/* Pinned post unpin button icon */
[class*="closeIcon_"] {
	width: 20px !important;
	height: 20px !important;
}

/* Inbox channel collapse button */
[class*="collapseButton_"],
[class*="collapseButton_"] svg {
	width: 24px !important;
	height: 24px !important;
}
/* Inbox channel header (make room for larger collapse button) */
[class*="channelHeader_"] {
	padding-left: 24px !important;
}
